<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>web me</title>
</head>
<body>
    <div class="container">
        <h1>HI these is my first website</h1>
    </div>
    <script src="../javascripts/script.js"></script>
</body>
</html>