<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="website icon"
      type="png"
      href="https://png.pngtree.com/png-clipart/20190516/original/pngtree-pinterest-social-media-icon-design-template-vector-png-image_3654773.jpg"
      style="border-radius: 50%; overflow: hidden;"
    />
    <link rel="website icon" type="png" href="https://png.pngtree.com/png-clipart/20190516/original/pngtree-pinterest-social-media-icon-design-template-vector-png-image_3654773.jpg">
    <link rel="stylesheet" href="/stylesheets/loginpage.css" />
    <title>pinterest</title>
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post">
        <div class="content">
          <!--pinterest logo-->
          <img
            src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
            alt="pin logo"
            class="img1"
          />
          <p class="header">Log in to see more</p>
          <input type="text" name="username" placeholder="Username" class="detail" /><br />
          <input type="password" name="password" placeholder="Password" class="detail" />

          <h4>Forgot your password?</h4>

          <button class="btn int" type="su">Log in</button>

          <footer>
            <p>
              By continuing, you agree to Pinterest's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <p>Not on Pinterest yet? <a href="/registerpage">Sign Up</a></p>
          </footer>
        </div>
      </form>
    </div>
    <div class="upbtn"><a href="/registerpage" style="text-decoration: none;">Sign Up</a></div>
  </body>
</html>
