<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I don't know</title>
    <link rel="stylesheet" href="/stylesheets/loginpage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY5Vl0nXbPPIcyZlp+OqOu1tj5nn0CIm1cFng3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <h3>welcome</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
          eaque numquam pariatur eum, enim, molestias saepe tempora quae omnis
          aspernatur maiores quo commodi sunt consectetur corrupti odit sed,
          voluptate nihil?
        </p>
      </div>
      <div class="right">
        <form action="/register" method="post">
          <h2>Register User</h2>
          <input type="text", name="fullname", placeholder="Full Name">
          <input type="text" name="username" placeholder="username" />

          <input type="text" name="password" placeholder="password" />
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
